.profile-container {
  background-color: #1e2124;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 500px;
  height: 100vh;
}

.photo {
  border-radius: 30vw;
  width: 160px;
}

.name {
  font-size: 42px;
  color: white;
  line-height: 0;
  padding-top: 16px;
}

.title {
  font-size: 30px;
  color: #0e67c5;
  line-height: 1;
  padding-bottom: 16px;
  margin: 0px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

.icon {
  font-size: 30px;
  color: #424549;
}

.icon:hover {
  color: white;
}
