.about-container {
  background-color: #0e67c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px 24px;
}

.about {
  color: white;
  max-width: 700px;
  margin-bottom: 16px;
}
