.footer-container {
  background-color: #1e2124;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px 24px;
}

.footer {
  color: white;
  max-width: 700px;
}

.footer-link {
  color: white;
  font-weight: 700;
  text-decoration-line: none;
}

.footer-content {
  font-size: 16px;
  padding-bottom: 0px;
}
