body {
  font-family: "Outfit", sans-serif;
  color: #7289da;
  background-color: white;
  margin: 0px;
}
.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  width: 100%;
}

.header {
  background-color: #1e2124;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 500px;
  height: 100vh;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.experience {
  padding: 12px;
  color: black;
  font-size: 18px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.experience-header {
  color: black;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  color: #7289da;
}

.ieebc {
  width: 160px;
  padding: 24px 0;
}

.timbox {
  width: 160px;
  margin-bottom: -24px;
}

.srax {
  width: 160px;
  padding: 24px 0;
}

.iconos {
  width: 160px;
  padding-bottom: 16px;
}

.gametime {
  width: 160px;
  padding-bottom: 16px;
}

.time {
  padding-top: 16px;
  font-size: 20px;
  font-weight: 500;
}

.company {
}

.experience-description {
  padding-bottom: 24px;
}

p {
  font-size: 18px;
}
